.container {
  position: relative;
  /*width: 80%;*/
  max-width: 1200px; /* Prevents it from getting too large */
  
  min-height: 500px;
  font-family: var(--font-geist-sans);
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  flex-direction: column;
}




.container2 {
  position: relative;
  
    width: 80%; /* Takes 80% of the parent width */
    
    max-width: 1200px; /* Prevents it from getting too large */
    /*min-height: 500px;*/
    display:flex;
    flex-direction: column;
    align-items: center;
}


.prev_btn {
  cursor: pointer;

  border: none;
  cursor: pointer;
  color: white;
  background: none;
  transition: all 0.3s ease-in-out;
}

.next_btn {
  cursor: pointer;

  border: none;
  cursor: pointer;
  color: white;
  background: none;
  transition: all 0.3s ease-in-out;
}


.container3 {
  position: relative;
  
    width: 80%; /* Takes 80% of the parent width */
    height:100px;
    max-width: 1200px; /* Prevents it from getting too large */
    /*min-height: 500px;*/
    display:flex;
    flex-direction: column;
    align-items: center;
}



.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 40vw;
  height: 50px;

  z-index: 4444;
}

.noUnderline {
    text-decoration: none;
  }
  
  .background {

    height:80vh;
    width:100vw;
   /* background-color: #a62b2b; */
  }

.laptop {
  width: 100%;
  position: absolute;
  /*margin-left: 8vw;*/
  margin-top: 650px ;
  /*margin-top: 92vh;*/

  
  
  z-index: 1000;
}



.screen::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.responsive-img {
  width: 100%; /* adapts to container width */
  height: auto; /* maintain aspect ratio */
  margin-bottom: 10px;
  object-fit: cover; /* optional: crop if needed */
}




.footer {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.footerLink {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
}

.footerLink:hover {
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}





  @media (min-width: 1300px) {
    .laptop {
      
      margin-top: clamp(50px, 75vh, 730px); /* min 50px, preferred 10vh, max 150px */
      /* margin-left: 8vw;*/
       
    
     }
  }




  @media (max-width: 1300px) {
    .screen {
      height:clamp(200px, 50vh, 500px);
    }

  }




  @media (max-width: 1000px) {


    .container2 {
      position: relative;
      
        width: 82.7%; /* Takes 80% of the parent width */
        
        max-width: 1200px; /* Prevents it from getting too large */
        /*min-height: 500px;*/
        display:flex;
        flex-direction: row;
        align-items: center;
        margin-top:50px;
    }

  
.container3 {

  display:none;
}
    .laptop {
      
       display: none;
        
     
      }

     
  }