:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  display: flex;

  justify-content: center;
  background: var(--background);
  color: var(--foreground);
  font-family: "Mate SC", serif;
}

.container-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  z-index: 4443;
}



