

.backgroundsvg {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 1000px;
  object-fit: cover;
  filter: blur(15px);
  /*overflow: hidden;*/
  z-index: -1; /* behind content */
  background-color: black;
display: flex;
justify-content: space-between;
}

.backgroundsvg::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  background: linear-gradient(to right, rgba(36, 125, 174, 0.4), rgba(218, 24, 24, 0.4));

  border-radius: 13px; /* border-radius + border width */
  z-index: -1;
  
}




.left {

  width: 5vw;
/*height: 100%;*/
  position: absolute;
  /*background-color: #4b244b;*/
  z-index: 0;
  left: 0;
border-right: 1px solid white;
}

.left span {

  line-height: 30px;
  white-space: nowrap;
  font-family: monospace;
  font-size: 1.2rem;
  color: #ffffff;
  padding-left: 20px;

 
}

.right {
  width: 5vw;
/*height: 100%;*/
  position: absolute;
/*background-color: #4b244b;*/
z-index: 0;
right:0;

display: flex;
flex-direction: column;
align-items: flex-end;
border-left: 1px solid white;
}

.right span {

  line-height: 30px;
  white-space: nowrap;
  font-family: monospace;
  font-size: 1.2rem;
  color: #ffffff;
  padding-right: 20px;
  

 
}



.fundal {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 100px;

  width: calc(40vw + 6px);
  height: 600px;
  border-radius: 30px;
  opacity: 80%;
  z-index: 1000;

  color: white;
}

.icon_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
  gap: 60px;
  margin-top: 70px;
}

.icon_left,
.icon_right {
  opacity: 0;
  /*transform: translateX(0);*/
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/* Slide in from left */
.icon_left {
  width: 40px;
  animation-name: slideInLeft;
  transition: 0.25s;
}

/* Slide in from right */
.icon_right {
  width: 40px;
  animation-name: slideInRight;
  transition: 0.25s;
  /*animation-delay: 0.3s;*/
}

@keyframes slideInLeft {
  from {
    transform: translateX(-500px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(500px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/*
.icon_left:hover {
  background-color: #ff8000;
  animation: bounce_613 0.4s linear;
}

.icon_right:hover {
  background-color: #ff8000;
  animation: bounce_613 0.4s linear;
}


@keyframes bounce_613 {
  40% {
    transform: scale(1.4);
  }

  60% {
    transform: scale(0.8);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
*/

/* Add this new wrapper class */
.tooltip_wrapper {
  position: relative;
  display: inline-block;
  z-index: 2;
}

/* Your existing tooltip class, just tweak behavior */
.text_tooltip {
  font-family: "Courier New", Courier, monospace;
  font-size: 0.7rem;
  position: absolute;
  width: 60px;
  left: 0%;
  bottom: 100%;
  margin-bottom: 15px;
  padding: 10px 10px 10px 10px;
  background: white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border: 5px solid #4f3755;
  border-radius: 10px;
  text-align: center;

  visibility: hidden;

  opacity: 0;
  transition: opacity 0.5s ease;
}

/* Tooltip appears on hover */
.tooltip_wrapper:hover .text_tooltip {
  visibility: visible;
  opacity: 1;
}

.tooltip_wrapper img:hover {
  transform: scale(1.1);
}

.text_tooltip::before,
.text_tooltip::after {
  content: "";
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.text_tooltip::before {
  border-top: 10px solid #4b244b;
  margin-top: 5px;
}

.text_tooltip::after {
  border-top: 10px solid white;
  margin-top: -1px;
  z-index: 1;
}

@media (max-width: 1200px) {
  .fundal {
    margin-top: 80px;
    height: 500px;
  }

  .left {

    width: 8vw;
  }

  .right {

    width: 8vw;
  }

  .left span {

    padding-left: 10px;
  }

  .right span {

    padding-right: 10px;
  }
}

@media (max-width: 500px) {
  .fundal {
    width: calc(60vw + 6px);
    height: 400px;
    margin-top: 60px;
  }

  .icon_container {

    gap:30px;
  }

  .icon_left {
    width: 100%;
    height: auto;
  }

  .icon_right {
    width: 100%;
    height: auto;
  }



  .left {

   border: none;
  }

  .right {

    border: none;
  }
}

.container {
  /*position: relative;*/
  /*width: 80%;*/
  max-width: 1200px; /* Prevents it from getting too large */
  height: 950px;
  /*background-color: black;*/
  min-height: 500px;
  font-family: var(--font-geist-sans);
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  flex-direction: column;
}

.container a {
  font-weight: bold;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 40vw;
  height: 50px;

  border-radius: 10px;
  z-index: 4444;

  /* background-color: white;*/

  --list: #247dae, #da1818;
  --grad: linear-gradient(45deg, var(--list));
  position: relative;
  border: solid 3px transparent;
  aspect-ratio: 7/ 10;

  background: conic-gradient(rgba(255, 255, 255, 0.75) 0 0) padding-box,
    var(--grad) border-box;

  &::before {
    position: absolute;
    inset: 10;
    z-index: -1;
    background: white;
    filter: blur(0.75em);
    content: "";
  }
}

.navbar a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100px; /* fixed width */
  text-align: center;
  opacity: 100;
}

.effect:hover {
  /*color:#000000;*/
  transform: scale(1.05);
}

.background {
  height: 1200px;
  width: 100vw;
overflow: hidden;
  /* background-color: #a62b2b; */
}

.responsive-img {
  width: 100%; /* adapts to container width */
  height: auto; /* maintain aspect ratio */
  margin-bottom: 10px;
  object-fit: cover; /* optional: crop if needed */
}

@keyframes move {
  100% {
    transform: rotate(360deg);
  }
}

.background span {
  width: 20vmin;
  height: 20vmin;
  border-radius: 20vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: -1;
}

.background span:nth-child(1) {
  color: #9d8f8f;
  top: 15%;
  left: 17%;
  animation-duration: 51s;
  animation-delay: -39s;
  transform-origin: 10vw 10vh;
  box-shadow: -40vmin 0 5.447890345703365vmin currentColor;
}
.background span:nth-child(2) {
  color: #9d8f8f;
  top: 38%;
  left: 62%;
  animation-duration: 42s;
  animation-delay: -31s;
  transform-origin: 8vw 8vh;
  box-shadow: -40vmin 0 5.455674290946592vmin currentColor;
}
.background span:nth-child(3) {
  color: #9d8f8f;
  top: 25%;
  left: 73%;
  animation-duration: 46s;
  animation-delay: -19s;
  transform-origin: -8vw 12vh;
  box-shadow: -40vmin 0 5.981614038395935vmin currentColor;
}
.background span:nth-child(4) {
  color: #9d8f8f;
  top: 10%;
  left: 86%;
  animation-duration: 50s;
  animation-delay: -23s;
  transform-origin: -15vw 15vh;
  box-shadow: -40vmin 0 5.0822397362639204vmin currentColor;
}
.background span:nth-child(5) {
  color: #9d8f8f;
  top: 19%;
  left: 77%;
  animation-duration: 25s;
  animation-delay: -28s;
  transform-origin: -12vw 12vh;
  box-shadow: -40vmin 0 5.087894099626038vmin currentColor;
}
.background span:nth-child(6) {
  color: #9d8f8f;
  top: 57%;
  left: 47%;
  animation-duration: 45s;
  animation-delay: -37s;
  transform-origin: 6vw 6vh;
  box-shadow: -40vmin 0 5.632598595345674vmin currentColor;
}
.background span:nth-child(7) {
  color: #9d8f8f;
  top: 72%;
  left: 4%;
  animation-duration: 32s;
  animation-delay: -38s;
  transform-origin: 12vw -10vh;
  box-shadow: -40vmin 0 5.453001738711381vmin currentColor;
}
.background span:nth-child(8) {
  color: #9d8f8f;
  top: 64%;
  left: 86%;
  animation-duration: 23s;
  animation-delay: -12s;
  transform-origin: -10vw -15vh;
  box-shadow: -40vmin 0 5.013508703970598vmin currentColor;
}
.background span:nth-child(9) {
  color: #9d8f8f;
  top: 43%;
  left: 86%;
  animation-duration: 13s;
  animation-delay: -17s;
  transform-origin: -8vw 8vh;
  box-shadow: -40vmin 0 5.125640643603084vmin currentColor;
}
.background span:nth-child(10) {
  color: #9d8f8f;
  top: 59%;
  left: 75%;
  animation-duration: 54s;
  animation-delay: -44s;
  transform-origin: -12vw -12vh;
  box-shadow: -40vmin 0 5.663067238186995vmin currentColor;
}
.background span:nth-child(11) {
  color: #9d8f8f;
  top: 46%;
  left: 66%;
  animation-duration: 49s;
  animation-delay: -10s;
  transform-origin: 8vw -8vh;
  box-shadow: 40vmin 0 5.505064733051759vmin currentColor;
}
.background span:nth-child(12) {
  color: #9d8f8f;
  top: 17%;
  left: 26%;
  animation-duration: 17s;
  animation-delay: -39s;
  transform-origin: 9vw 9vh;
  box-shadow: -40vmin 0 5.3072599995986804vmin currentColor;
}
.background span:nth-child(13) {
  color: #9d8f8f;
  top: 14%;
  left: 25%;
  animation-duration: 37s;
  animation-delay: -15s;
  transform-origin: 10vw 10vh;
  box-shadow: 40vmin 0 5.614959074191287vmin currentColor;
}
.background span:nth-child(14) {
  color: #9d8f8f;
  top: 57%;
  left: 24%;
  animation-duration: 33s;
  animation-delay: -28s;
  transform-origin: 8vw -20vh;
  box-shadow: 40vmin 0 5.572206482765815vmin currentColor;
}
.background span:nth-child(15) {
  color: #9d8f8f;
  top: 50%;
  left: 69%;
  animation-duration: 12s;
  animation-delay: -41s;
  transform-origin: -10vw -15vh;
  box-shadow: -40vmin 0 5.96250608347868vmin currentColor;
}
.background span:nth-child(16) {
  color: #9d8f8f;
  top: 42%;
  left: 8%;
  animation-duration: 29s;
  animation-delay: -35s;
  transform-origin: 10vw 10vh;
  box-shadow: 40vmin 0 5.597026786168861vmin currentColor;
}
.background span:nth-child(17) {
  color: #9d8f8f;
  top: 41%;
  left: 35%;
  animation-duration: 27s;
  animation-delay: -14s;
  transform-origin: 8vw 8vh;
  box-shadow: 40vmin 0 5.083936049252802vmin currentColor;
}
.background span:nth-child(18) {
  color: #9d8f8f;
  top: 62%;
  left: 24%;
  animation-duration: 48s;
  animation-delay: -18s;
  transform-origin: 12vw -10vh;
  box-shadow: -40vmin 0 5.385754397084301vmin currentColor;
}
.background span:nth-child(19) {
  color: #9d8f8f;
  top: 8%;
  left: 60%;
  animation-duration: 22s;
  animation-delay: -12s;
  transform-origin: 15vw 20vh;
  box-shadow: -40vmin 0 5.385754397084301vmin currentColor;
}
.background span:nth-child(20) {
  color: #9d8f8f;
  top: 25%;
  left: 80%;
  animation-duration: 30s;
  animation-delay: -32s;
  transform-origin: -10vw 15vh;
  box-shadow: -40vmin 0 5.385754397084301vmin currentColor;
}
.background span:nth-child(21) {
  color: #9d8f8f;
  top: 45%;
  left: 80%;
  animation-duration: 30s;
  animation-delay: -22s;
  transform-origin: -12vw 8vh;
  box-shadow: -40vmin 0 5.385754397084301vmin currentColor;
}
.background span:nth-child(22) {
  color: #9d8f8f;
  top: 30%;
  left: 90%;
  animation-duration: 25s;
  animation-delay: -12s;
  transform-origin: -15vw 10vh;
  box-shadow: -40vmin 0 5.385754397084301vmin currentColor;
}


.dinosaur {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
/*background-color: #da1818;*/
  position:relative;
  height: 500px;

  width: 40vw;
  border-bottom: 2px solid rgb(255, 255, 255);
margin-top: 100px;
padding-bottom: 10px;

}

.dinosaur :nth-child(1) {

  align-self: flex-end;
  
}

/* From Uiverse.io by 20essentials */ 
.loader_dino {

  animation: dinoMove 5s linear infinite, mover 0.3s linear infinite;

  --zoom: 0.1;
  position: relative;
  /*top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
  --wh: calc(var(--wh-number) * 1px);
  --wh-n: calc(var(--wh-number) * -1px);
  width: calc(var(--wh-number) * var(--wh));
  height: calc(var(--wh-number) * var(--wh));
  --color: #fff;
  --blur: 0;
  filter: drop-shadow(var(--wh-n) 0 var(--blur) var(--color))
    drop-shadow(0 var(--wh-n) var(--blur) var(--color))
    drop-shadow(var(--wh) 0 var(--blur) var(--color))
    drop-shadow(0 var(--wh) var(--blur) var(--color));
  image-rendering: pixelated;
  zoom: var(--zoom);
 /* animation: mover 0.3s linear infinite;*/

  .pixel {
    width: var(--wh);
    height: var(--wh);
    box-shadow: var(--shadow);
  }
}


@keyframes dinoMove {
  from {
    transform: translateX(0);
    
  }
  to {
    transform: translateX(305vw);
   
  }
}



@keyframes mover {
  0%,
  100% {
    --shadow: 0px 0px transparent, 24px 0px transparent, 48px 0px transparent,
      72px 0px transparent, 96px 0px transparent, 120px 0px transparent,
      144px 0px transparent, 168px 0px transparent, 192px 0px transparent,
      216px 0px transparent, 240px 0px transparent, 264px 0px transparent,
      288px 0px transparent, 312px 0px #535353, 336px 0px #535353,
      360px 0px #535353, 384px 0px #535353, 408px 0px #535353, 432px 0px #535353,
      456px 0px #535353, 480px 0px #535353, 504px 0px #535353, 528px 0px #535353,
      552px 0px transparent, 0px 24px transparent, 24px 24px transparent,
      48px 24px transparent, 72px 24px transparent, 96px 24px transparent,
      120px 24px transparent, 144px 24px transparent, 168px 24px transparent,
      192px 24px transparent, 216px 24px transparent, 240px 24px transparent,
      264px 24px transparent, 288px 24px #535353, 312px 24px #535353,
      336px 24px #535353, 360px 24px #535353, 384px 24px #535353,
      408px 24px #535353, 432px 24px #535353, 456px 24px #535353,
      480px 24px #535353, 504px 24px #535353, 528px 24px #535353,
      552px 24px #535353, 0px 48px transparent, 24px 48px transparent,
      48px 48px transparent, 72px 48px transparent, 96px 48px transparent,
      120px 48px transparent, 144px 48px transparent, 168px 48px transparent,
      192px 48px transparent, 216px 48px transparent, 240px 48px transparent,
      264px 48px transparent, 288px 48px #535353, 312px 48px #535353,
      336px 48px transparent, 360px 48px transparent, 384px 48px #535353,
      408px 48px #535353, 432px 48px #535353, 456px 48px #535353,
      480px 48px #535353, 504px 48px #535353, 528px 48px #535353,
      552px 48px #535353, 0px 72px transparent, 24px 72px transparent,
      48px 72px transparent, 72px 72px transparent, 96px 72px transparent,
      120px 72px transparent, 144px 72px transparent, 168px 72px transparent,
      192px 72px transparent, 216px 72px transparent, 240px 72px transparent,
      264px 72px transparent, 288px 72px #535353, 312px 72px #535353,
      336px 72px transparent, 360px 72px transparent, 384px 72px #535353,
      408px 72px #535353, 432px 72px #535353, 456px 72px #535353,
      480px 72px #535353, 504px 72px #535353, 528px 72px #535353,
      552px 72px #535353, 0px 96px transparent, 24px 96px transparent,
      48px 96px transparent, 72px 96px transparent, 96px 96px transparent,
      120px 96px transparent, 144px 96px transparent, 168px 96px transparent,
      192px 96px transparent, 216px 96px transparent, 240px 96px transparent,
      264px 96px transparent, 288px 96px #535353, 312px 96px #535353,
      336px 96px #535353, 360px 96px #535353, 384px 96px #535353,
      408px 96px #535353, 432px 96px #535353, 456px 96px #535353,
      480px 96px #535353, 504px 96px #535353, 528px 96px #535353,
      552px 96px #535353, 0px 120px transparent, 24px 120px transparent,
      48px 120px transparent, 72px 120px transparent, 96px 120px transparent,
      120px 120px transparent, 144px 120px transparent, 168px 120px transparent,
      192px 120px transparent, 216px 120px transparent, 240px 120px transparent,
      264px 120px transparent, 288px 120px #535353, 312px 120px #535353,
      336px 120px #535353, 360px 120px #535353, 384px 120px #535353,
      408px 120px #535353, 432px 120px #535353, 456px 120px #535353,
      480px 120px #535353, 504px 120px #535353, 528px 120px #535353,
      552px 120px #535353, 0px 144px transparent, 24px 144px transparent,
      48px 144px transparent, 72px 144px transparent, 96px 144px transparent,
      120px 144px transparent, 144px 144px transparent, 168px 144px transparent,
      192px 144px transparent, 216px 144px transparent, 240px 144px transparent,
      264px 144px transparent, 288px 144px #535353, 312px 144px #535353,
      336px 144px #535353, 360px 144px #535353, 384px 144px #535353,
      408px 144px #535353, 432px 144px transparent, 456px 144px transparent,
      480px 144px transparent, 504px 144px transparent, 528px 144px transparent,
      552px 144px transparent, 0px 168px transparent, 24px 168px transparent,
      48px 168px transparent, 72px 168px transparent, 96px 168px transparent,
      120px 168px transparent, 144px 168px transparent, 168px 168px transparent,
      192px 168px transparent, 216px 168px transparent, 240px 168px transparent,
      264px 168px transparent, 288px 168px #535353, 312px 168px #535353,
      336px 168px #535353, 360px 168px #535353, 384px 168px #535353,
      408px 168px #535353, 432px 168px transparent, 456px 168px transparent,
      480px 168px transparent, 504px 168px transparent, 528px 168px transparent,
      552px 168px transparent, 0px 192px transparent, 24px 192px transparent,
      48px 192px transparent, 72px 192px transparent, 96px 192px transparent,
      120px 192px transparent, 144px 192px transparent, 168px 192px transparent,
      192px 192px transparent, 216px 192px transparent, 240px 192px transparent,
      264px 192px transparent, 288px 192px #535353, 312px 192px #535353,
      336px 192px #535353, 360px 192px #535353, 384px 192px #535353,
      408px 192px #535353, 432px 192px #535353, 456px 192px #535353,
      480px 192px #535353, 504px 192px #535353, 528px 192px transparent,
      552px 192px transparent, 0px 216px #535353, 24px 216px transparent,
      48px 216px transparent, 72px 216px transparent, 96px 216px transparent,
      120px 216px transparent, 144px 216px transparent, 168px 216px transparent,
      192px 216px transparent, 216px 216px transparent, 240px 216px #535353,
      264px 216px #535353, 288px 216px #535353, 312px 216px #535353,
      336px 216px #535353, 360px 216px #535353, 384px 216px #535353,
      408px 216px transparent, 432px 216px transparent, 456px 216px transparent,
      480px 216px transparent, 504px 216px transparent, 528px 216px transparent,
      552px 216px transparent, 0px 240px #535353, 24px 240px transparent,
      48px 240px transparent, 72px 240px transparent, 96px 240px transparent,
      120px 240px transparent, 144px 240px transparent, 168px 240px transparent,
      192px 240px #535353, 216px 240px #535353, 240px 240px #535353,
      264px 240px #535353, 288px 240px #535353, 312px 240px #535353,
      336px 240px #535353, 360px 240px #535353, 384px 240px #535353,
      408px 240px transparent, 432px 240px transparent, 456px 240px transparent,
      480px 240px transparent, 504px 240px transparent, 528px 240px transparent,
      552px 240px transparent, 0px 264px #535353, 24px 264px #535353,
      48px 264px transparent, 72px 264px transparent, 96px 264px transparent,
      120px 264px transparent, 144px 264px transparent, 168px 264px #535353,
      192px 264px #535353, 216px 264px #535353, 240px 264px #535353,
      264px 264px #535353, 288px 264px #535353, 312px 264px #535353,
      336px 264px #535353, 360px 264px #535353, 384px 264px #535353,
      408px 264px #535353, 432px 264px #535353, 456px 264px transparent,
      480px 264px transparent, 504px 264px transparent, 528px 264px transparent,
      552px 264px transparent, 0px 288px #535353, 24px 288px #535353,
      48px 288px #535353, 72px 288px transparent, 96px 288px transparent,
      120px 288px transparent, 144px 288px #535353, 168px 288px #535353,
      192px 288px #535353, 216px 288px #535353, 240px 288px #535353,
      264px 288px #535353, 288px 288px #535353, 312px 288px #535353,
      336px 288px #535353, 360px 288px #535353, 384px 288px #535353,
      408px 288px transparent, 432px 288px #535353, 456px 288px transparent,
      480px 288px transparent, 504px 288px transparent, 528px 288px transparent,
      552px 288px transparent, 0px 312px #535353, 24px 312px #535353,
      48px 312px #535353, 72px 312px #535353, 96px 312px #535353,
      120px 312px #535353, 144px 312px #535353, 168px 312px #535353,
      192px 312px #535353, 216px 312px #535353, 240px 312px #535353,
      264px 312px #535353, 288px 312px #535353, 312px 312px #535353,
      336px 312px #535353, 360px 312px #535353, 384px 312px #535353,
      408px 312px transparent, 432px 312px transparent, 456px 312px transparent,
      480px 312px transparent, 504px 312px transparent, 528px 312px transparent,
      552px 312px transparent, 0px 336px #535353, 24px 336px #535353,
      48px 336px #535353, 72px 336px #535353, 96px 336px #535353,
      120px 336px #535353, 144px 336px #535353, 168px 336px #535353,
      192px 336px #535353, 216px 336px #535353, 240px 336px #535353,
      264px 336px #535353, 288px 336px #535353, 312px 336px #535353,
      336px 336px #535353, 360px 336px #535353, 384px 336px #535353,
      408px 336px transparent, 432px 336px transparent, 456px 336px transparent,
      480px 336px transparent, 504px 336px transparent, 528px 336px transparent,
      552px 336px transparent, 0px 360px transparent, 24px 360px #535353,
      48px 360px #535353, 72px 360px #535353, 96px 360px #535353,
      120px 360px #535353, 144px 360px #535353, 168px 360px #535353,
      192px 360px #535353, 216px 360px #535353, 240px 360px #535353,
      264px 360px #535353, 288px 360px #535353, 312px 360px #535353,
      336px 360px #535353, 360px 360px #535353, 384px 360px #535353,
      408px 360px transparent, 432px 360px transparent, 456px 360px transparent,
      480px 360px transparent, 504px 360px transparent, 528px 360px transparent,
      552px 360px transparent, 0px 384px transparent, 24px 384px transparent,
      48px 384px #535353, 72px 384px #535353, 96px 384px #535353,
      120px 384px #535353, 144px 384px #535353, 168px 384px #535353,
      192px 384px #535353, 216px 384px #535353, 240px 384px #535353,
      264px 384px #535353, 288px 384px #535353, 312px 384px #535353,
      336px 384px #535353, 360px 384px #535353, 384px 384px transparent,
      408px 384px transparent, 432px 384px transparent, 456px 384px transparent,
      480px 384px transparent, 504px 384px transparent, 528px 384px transparent,
      552px 384px transparent, 0px 408px transparent, 24px 408px transparent,
      48px 408px transparent, 72px 408px #535353, 96px 408px #535353,
      120px 408px #535353, 144px 408px #535353, 168px 408px #535353,
      192px 408px #535353, 216px 408px #535353, 240px 408px #535353,
      264px 408px #535353, 288px 408px #535353, 312px 408px #535353,
      336px 408px #535353, 360px 408px transparent, 384px 408px transparent,
      408px 408px transparent, 432px 408px transparent, 456px 408px transparent,
      480px 408px transparent, 504px 408px transparent, 528px 408px transparent,
      552px 408px transparent, 0px 432px transparent, 24px 432px transparent,
      48px 432px transparent, 72px 432px transparent, 96px 432px #535353,
      120px 432px #535353, 144px 432px #535353, 168px 432px #535353,
      192px 432px #535353, 216px 432px #535353, 240px 432px #535353,
      264px 432px #535353, 288px 432px #535353, 312px 432px #535353,
      336px 432px transparent, 360px 432px transparent, 384px 432px transparent,
      408px 432px transparent, 432px 432px transparent, 456px 432px transparent,
      480px 432px transparent, 504px 432px transparent, 528px 432px transparent,
      552px 432px transparent, 0px 456px transparent, 24px 456px transparent,
      48px 456px transparent, 72px 456px transparent, 96px 456px transparent,
      120px 456px #535353, 144px 456px #535353, 168px 456px #535353,
      192px 456px #535353, 216px 456px #535353, 240px 456px #535353,
      264px 456px #535353, 288px 456px #535353, 312px 456px transparent,
      336px 456px transparent, 360px 456px transparent, 384px 456px transparent,
      408px 456px transparent, 432px 456px transparent, 456px 456px transparent,
      480px 456px transparent, 504px 456px transparent, 528px 456px transparent,
      552px 456px transparent, 0px 480px transparent, 24px 480px transparent,
      48px 480px transparent, 72px 480px transparent, 96px 480px transparent,
      120px 480px transparent, 144px 480px #535353, 168px 480px #535353,
      192px 480px #535353, 216px 480px transparent, 240px 480px transparent,
      264px 480px #535353, 288px 480px #535353, 312px 480px transparent,
      336px 480px transparent, 360px 480px transparent, 384px 480px transparent,
      408px 480px transparent, 432px 480px transparent, 456px 480px transparent,
      480px 480px transparent, 504px 480px transparent, 528px 480px transparent,
      552px 480px transparent, 0px 504px transparent, 24px 504px transparent,
      48px 504px transparent, 72px 504px transparent, 96px 504px transparent,
      120px 504px transparent, 144px 504px #535353, 168px 504px #535353,
      192px 504px transparent, 216px 504px transparent, 240px 504px transparent,
      264px 504px transparent, 288px 504px #535353, 312px 504px transparent,
      336px 504px transparent, 360px 504px transparent, 384px 504px transparent,
      408px 504px transparent, 432px 504px transparent, 456px 504px transparent,
      480px 504px transparent, 504px 504px transparent, 528px 504px transparent,
      552px 504px transparent, 0px 528px transparent, 24px 528px transparent,
      48px 528px transparent, 72px 528px transparent, 96px 528px transparent,
      120px 528px transparent, 144px 528px #535353, 168px 528px transparent,
      192px 528px transparent, 216px 528px transparent, 240px 528px transparent,
      264px 528px transparent, 288px 528px #535353, 312px 528px transparent,
      336px 528px transparent, 360px 528px transparent, 384px 528px transparent,
      408px 528px transparent, 432px 528px transparent, 456px 528px transparent,
      480px 528px transparent, 504px 528px transparent, 528px 528px transparent,
      552px 528px transparent, 0px 552px transparent, 24px 552px transparent,
      48px 552px transparent, 72px 552px transparent, 96px 552px transparent,
      120px 552px transparent, 144px 552px #535353, 168px 552px #535353,
      192px 552px transparent, 216px 552px transparent, 240px 552px transparent,
      264px 552px transparent, 288px 552px #535353, 312px 552px #535353,
      336px 552px transparent, 360px 552px transparent, 384px 552px transparent,
      408px 552px transparent, 432px 552px transparent, 456px 552px transparent,
      480px 552px transparent, 504px 552px transparent, 528px 552px transparent,
      552px 552px transparent;
  }
  33% {
    --shadow: 0px 0px transparent, 24px 0px transparent, 48px 0px transparent,
      72px 0px transparent, 96px 0px transparent, 120px 0px transparent,
      144px 0px transparent, 168px 0px transparent, 192px 0px transparent,
      216px 0px transparent, 240px 0px transparent, 264px 0px transparent,
      288px 0px transparent, 312px 0px #535353, 336px 0px #535353,
      360px 0px #535353, 384px 0px #535353, 408px 0px #535353, 432px 0px #535353,
      456px 0px #535353, 480px 0px #535353, 504px 0px #535353, 528px 0px #535353,
      552px 0px transparent, 0px 24px transparent, 24px 24px transparent,
      48px 24px transparent, 72px 24px transparent, 96px 24px transparent,
      120px 24px transparent, 144px 24px transparent, 168px 24px transparent,
      192px 24px transparent, 216px 24px transparent, 240px 24px transparent,
      264px 24px transparent, 288px 24px #535353, 312px 24px #535353,
      336px 24px #535353, 360px 24px #535353, 384px 24px #535353,
      408px 24px #535353, 432px 24px #535353, 456px 24px #535353,
      480px 24px #535353, 504px 24px #535353, 528px 24px #535353,
      552px 24px #535353, 0px 48px transparent, 24px 48px transparent,
      48px 48px transparent, 72px 48px transparent, 96px 48px transparent,
      120px 48px transparent, 144px 48px transparent, 168px 48px transparent,
      192px 48px transparent, 216px 48px transparent, 240px 48px transparent,
      264px 48px transparent, 288px 48px #535353, 312px 48px #535353,
      336px 48px transparent, 360px 48px transparent, 384px 48px #535353,
      408px 48px #535353, 432px 48px #535353, 456px 48px #535353,
      480px 48px #535353, 504px 48px #535353, 528px 48px #535353,
      552px 48px #535353, 0px 72px transparent, 24px 72px transparent,
      48px 72px transparent, 72px 72px transparent, 96px 72px transparent,
      120px 72px transparent, 144px 72px transparent, 168px 72px transparent,
      192px 72px transparent, 216px 72px transparent, 240px 72px transparent,
      264px 72px transparent, 288px 72px #535353, 312px 72px #535353,
      336px 72px transparent, 360px 72px transparent, 384px 72px #535353,
      408px 72px #535353, 432px 72px #535353, 456px 72px #535353,
      480px 72px #535353, 504px 72px #535353, 528px 72px #535353,
      552px 72px #535353, 0px 96px transparent, 24px 96px transparent,
      48px 96px transparent, 72px 96px transparent, 96px 96px transparent,
      120px 96px transparent, 144px 96px transparent, 168px 96px transparent,
      192px 96px transparent, 216px 96px transparent, 240px 96px transparent,
      264px 96px transparent, 288px 96px #535353, 312px 96px #535353,
      336px 96px #535353, 360px 96px #535353, 384px 96px #535353,
      408px 96px #535353, 432px 96px #535353, 456px 96px #535353,
      480px 96px #535353, 504px 96px #535353, 528px 96px #535353,
      552px 96px #535353, 0px 120px transparent, 24px 120px transparent,
      48px 120px transparent, 72px 120px transparent, 96px 120px transparent,
      120px 120px transparent, 144px 120px transparent, 168px 120px transparent,
      192px 120px transparent, 216px 120px transparent, 240px 120px transparent,
      264px 120px transparent, 288px 120px #535353, 312px 120px #535353,
      336px 120px #535353, 360px 120px #535353, 384px 120px #535353,
      408px 120px #535353, 432px 120px #535353, 456px 120px #535353,
      480px 120px #535353, 504px 120px #535353, 528px 120px #535353,
      552px 120px #535353, 0px 144px transparent, 24px 144px transparent,
      48px 144px transparent, 72px 144px transparent, 96px 144px transparent,
      120px 144px transparent, 144px 144px transparent, 168px 144px transparent,
      192px 144px transparent, 216px 144px transparent, 240px 144px transparent,
      264px 144px transparent, 288px 144px #535353, 312px 144px #535353,
      336px 144px #535353, 360px 144px #535353, 384px 144px #535353,
      408px 144px #535353, 432px 144px transparent, 456px 144px transparent,
      480px 144px transparent, 504px 144px transparent, 528px 144px transparent,
      552px 144px transparent, 0px 168px transparent, 24px 168px transparent,
      48px 168px transparent, 72px 168px transparent, 96px 168px transparent,
      120px 168px transparent, 144px 168px transparent, 168px 168px transparent,
      192px 168px transparent, 216px 168px transparent, 240px 168px transparent,
      264px 168px transparent, 288px 168px #535353, 312px 168px #535353,
      336px 168px #535353, 360px 168px #535353, 384px 168px #535353,
      408px 168px #535353, 432px 168px transparent, 456px 168px transparent,
      480px 168px transparent, 504px 168px transparent, 528px 168px transparent,
      552px 168px transparent, 0px 192px transparent, 24px 192px transparent,
      48px 192px transparent, 72px 192px transparent, 96px 192px transparent,
      120px 192px transparent, 144px 192px transparent, 168px 192px transparent,
      192px 192px transparent, 216px 192px transparent, 240px 192px transparent,
      264px 192px transparent, 288px 192px #535353, 312px 192px #535353,
      336px 192px #535353, 360px 192px #535353, 384px 192px #535353,
      408px 192px #535353, 432px 192px #535353, 456px 192px #535353,
      480px 192px #535353, 504px 192px #535353, 528px 192px transparent,
      552px 192px transparent, 0px 216px #535353, 24px 216px transparent,
      48px 216px transparent, 72px 216px transparent, 96px 216px transparent,
      120px 216px transparent, 144px 216px transparent, 168px 216px transparent,
      192px 216px transparent, 216px 216px transparent, 240px 216px #535353,
      264px 216px #535353, 288px 216px #535353, 312px 216px #535353,
      336px 216px #535353, 360px 216px #535353, 384px 216px #535353,
      408px 216px transparent, 432px 216px transparent, 456px 216px transparent,
      480px 216px transparent, 504px 216px transparent, 528px 216px transparent,
      552px 216px transparent, 0px 240px #535353, 24px 240px transparent,
      48px 240px transparent, 72px 240px transparent, 96px 240px transparent,
      120px 240px transparent, 144px 240px transparent, 168px 240px transparent,
      192px 240px #535353, 216px 240px #535353, 240px 240px #535353,
      264px 240px #535353, 288px 240px #535353, 312px 240px #535353,
      336px 240px #535353, 360px 240px #535353, 384px 240px #535353,
      408px 240px transparent, 432px 240px transparent, 456px 240px transparent,
      480px 240px transparent, 504px 240px transparent, 528px 240px transparent,
      552px 240px transparent, 0px 264px #535353, 24px 264px #535353,
      48px 264px transparent, 72px 264px transparent, 96px 264px transparent,
      120px 264px transparent, 144px 264px transparent, 168px 264px #535353,
      192px 264px #535353, 216px 264px #535353, 240px 264px #535353,
      264px 264px #535353, 288px 264px #535353, 312px 264px #535353,
      336px 264px #535353, 360px 264px #535353, 384px 264px #535353,
      408px 264px #535353, 432px 264px #535353, 456px 264px transparent,
      480px 264px transparent, 504px 264px transparent, 528px 264px transparent,
      552px 264px transparent, 0px 288px #535353, 24px 288px #535353,
      48px 288px #535353, 72px 288px transparent, 96px 288px transparent,
      120px 288px transparent, 144px 288px #535353, 168px 288px #535353,
      192px 288px #535353, 216px 288px #535353, 240px 288px #535353,
      264px 288px #535353, 288px 288px #535353, 312px 288px #535353,
      336px 288px #535353, 360px 288px #535353, 384px 288px #535353,
      408px 288px transparent, 432px 288px #535353, 456px 288px transparent,
      480px 288px transparent, 504px 288px transparent, 528px 288px transparent,
      552px 288px transparent, 0px 312px #535353, 24px 312px #535353,
      48px 312px #535353, 72px 312px #535353, 96px 312px #535353,
      120px 312px #535353, 144px 312px #535353, 168px 312px #535353,
      192px 312px #535353, 216px 312px #535353, 240px 312px #535353,
      264px 312px #535353, 288px 312px #535353, 312px 312px #535353,
      336px 312px #535353, 360px 312px #535353, 384px 312px #535353,
      408px 312px transparent, 432px 312px transparent, 456px 312px transparent,
      480px 312px transparent, 504px 312px transparent, 528px 312px transparent,
      552px 312px transparent, 0px 336px #535353, 24px 336px #535353,
      48px 336px #535353, 72px 336px #535353, 96px 336px #535353,
      120px 336px #535353, 144px 336px #535353, 168px 336px #535353,
      192px 336px #535353, 216px 336px #535353, 240px 336px #535353,
      264px 336px #535353, 288px 336px #535353, 312px 336px #535353,
      336px 336px #535353, 360px 336px #535353, 384px 336px #535353,
      408px 336px transparent, 432px 336px transparent, 456px 336px transparent,
      480px 336px transparent, 504px 336px transparent, 528px 336px transparent,
      552px 336px transparent, 0px 360px transparent, 24px 360px #535353,
      48px 360px #535353, 72px 360px #535353, 96px 360px #535353,
      120px 360px #535353, 144px 360px #535353, 168px 360px #535353,
      192px 360px #535353, 216px 360px #535353, 240px 360px #535353,
      264px 360px #535353, 288px 360px #535353, 312px 360px #535353,
      336px 360px #535353, 360px 360px #535353, 384px 360px #535353,
      408px 360px transparent, 432px 360px transparent, 456px 360px transparent,
      480px 360px transparent, 504px 360px transparent, 528px 360px transparent,
      552px 360px transparent, 0px 384px transparent, 24px 384px transparent,
      48px 384px #535353, 72px 384px #535353, 96px 384px #535353,
      120px 384px #535353, 144px 384px #535353, 168px 384px #535353,
      192px 384px #535353, 216px 384px #535353, 240px 384px #535353,
      264px 384px #535353, 288px 384px #535353, 312px 384px #535353,
      336px 384px #535353, 360px 384px #535353, 384px 384px transparent,
      408px 384px transparent, 432px 384px transparent, 456px 384px transparent,
      480px 384px transparent, 504px 384px transparent, 528px 384px transparent,
      552px 384px transparent, 0px 408px transparent, 24px 408px transparent,
      48px 408px transparent, 72px 408px #535353, 96px 408px #535353,
      120px 408px #535353, 144px 408px #535353, 168px 408px #535353,
      192px 408px #535353, 216px 408px #535353, 240px 408px #535353,
      264px 408px #535353, 288px 408px #535353, 312px 408px #535353,
      336px 408px #535353, 360px 408px transparent, 384px 408px transparent,
      408px 408px transparent, 432px 408px transparent, 456px 408px transparent,
      480px 408px transparent, 504px 408px transparent, 528px 408px transparent,
      552px 408px transparent, 0px 432px transparent, 24px 432px transparent,
      48px 432px transparent, 72px 432px transparent, 96px 432px #535353,
      120px 432px #535353, 144px 432px #535353, 168px 432px #535353,
      192px 432px #535353, 216px 432px #535353, 240px 432px #535353,
      264px 432px #535353, 288px 432px #535353, 312px 432px #535353,
      336px 432px transparent, 360px 432px transparent, 384px 432px transparent,
      408px 432px transparent, 432px 432px transparent, 456px 432px transparent,
      480px 432px transparent, 504px 432px transparent, 528px 432px transparent,
      552px 432px transparent, 0px 456px transparent, 24px 456px transparent,
      48px 456px transparent, 72px 456px transparent, 96px 456px transparent,
      120px 456px #535353, 144px 456px #535353, 168px 456px #535353,
      192px 456px #535353, 216px 456px #535353, 240px 456px #535353,
      264px 456px #535353, 288px 456px #535353, 312px 456px transparent,
      336px 456px transparent, 360px 456px transparent, 384px 456px transparent,
      408px 456px transparent, 432px 456px transparent, 456px 456px transparent,
      480px 456px transparent, 504px 456px transparent, 528px 456px transparent,
      552px 456px transparent, 0px 480px transparent, 24px 480px transparent,
      48px 480px transparent, 72px 480px transparent, 96px 480px transparent,
      120px 480px transparent, 144px 480px #535353, 168px 480px #535353,
      192px 480px #535353, 216px 480px transparent, 240px 480px transparent,
      264px 480px #535353, 288px 480px #535353, 312px 480px #535353,
      336px 480px transparent, 360px 480px transparent, 384px 480px transparent,
      408px 480px transparent, 432px 480px transparent, 456px 480px transparent,
      480px 480px transparent, 504px 480px transparent, 528px 480px transparent,
      552px 480px transparent, 0px 504px transparent, 24px 504px transparent,
      48px 504px transparent, 72px 504px transparent, 96px 504px transparent,
      120px 504px transparent, 144px 504px #535353, 168px 504px #535353,
      192px 504px transparent, 216px 504px transparent, 240px 504px transparent,
      264px 504px transparent, 288px 504px transparent, 312px 504px transparent,
      336px 504px transparent, 360px 504px transparent, 384px 504px transparent,
      408px 504px transparent, 432px 504px transparent, 456px 504px transparent,
      480px 504px transparent, 504px 504px transparent, 528px 504px transparent,
      552px 504px transparent, 0px 528px transparent, 24px 528px transparent,
      48px 528px transparent, 72px 528px transparent, 96px 528px transparent,
      120px 528px transparent, 144px 528px #535353, 168px 528px transparent,
      192px 528px transparent, 216px 528px transparent, 240px 528px transparent,
      264px 528px transparent, 288px 528px transparent, 312px 528px transparent,
      336px 528px transparent, 360px 528px transparent, 384px 528px transparent,
      408px 528px transparent, 432px 528px transparent, 456px 528px transparent,
      480px 528px transparent, 504px 528px transparent, 528px 528px transparent,
      552px 528px transparent, 0px 552px transparent, 24px 552px transparent,
      48px 552px transparent, 72px 552px transparent, 96px 552px transparent,
      120px 552px transparent, 144px 552px #535353, 168px 552px #535353,
      192px 552px transparent, 216px 552px transparent, 240px 552px transparent,
      264px 552px transparent, 288px 552px transparent, 312px 552px transparent,
      336px 552px transparent, 360px 552px transparent, 384px 552px transparent,
      408px 552px transparent, 432px 552px transparent, 456px 552px transparent,
      480px 552px transparent, 504px 552px transparent, 528px 552px transparent,
      552px 552px transparent;
  }
  66% {
    --shadow: 0px 0px transparent, 24px 0px transparent, 48px 0px transparent,
      72px 0px transparent, 96px 0px transparent, 120px 0px transparent,
      144px 0px transparent, 168px 0px transparent, 192px 0px transparent,
      216px 0px transparent, 240px 0px transparent, 264px 0px transparent,
      288px 0px transparent, 312px 0px #535353, 336px 0px #535353,
      360px 0px #535353, 384px 0px #535353, 408px 0px #535353, 432px 0px #535353,
      456px 0px #535353, 480px 0px #535353, 504px 0px #535353, 528px 0px #535353,
      552px 0px transparent, 0px 24px transparent, 24px 24px transparent,
      48px 24px transparent, 72px 24px transparent, 96px 24px transparent,
      120px 24px transparent, 144px 24px transparent, 168px 24px transparent,
      192px 24px transparent, 216px 24px transparent, 240px 24px transparent,
      264px 24px transparent, 288px 24px #535353, 312px 24px #535353,
      336px 24px #535353, 360px 24px #535353, 384px 24px #535353,
      408px 24px #535353, 432px 24px #535353, 456px 24px #535353,
      480px 24px #535353, 504px 24px #535353, 528px 24px #535353,
      552px 24px #535353, 0px 48px transparent, 24px 48px transparent,
      48px 48px transparent, 72px 48px transparent, 96px 48px transparent,
      120px 48px transparent, 144px 48px transparent, 168px 48px transparent,
      192px 48px transparent, 216px 48px transparent, 240px 48px transparent,
      264px 48px transparent, 288px 48px #535353, 312px 48px #535353,
      336px 48px transparent, 360px 48px transparent, 384px 48px #535353,
      408px 48px #535353, 432px 48px #535353, 456px 48px #535353,
      480px 48px #535353, 504px 48px #535353, 528px 48px #535353,
      552px 48px #535353, 0px 72px transparent, 24px 72px transparent,
      48px 72px transparent, 72px 72px transparent, 96px 72px transparent,
      120px 72px transparent, 144px 72px transparent, 168px 72px transparent,
      192px 72px transparent, 216px 72px transparent, 240px 72px transparent,
      264px 72px transparent, 288px 72px #535353, 312px 72px #535353,
      336px 72px transparent, 360px 72px transparent, 384px 72px #535353,
      408px 72px #535353, 432px 72px #535353, 456px 72px #535353,
      480px 72px #535353, 504px 72px #535353, 528px 72px #535353,
      552px 72px #535353, 0px 96px transparent, 24px 96px transparent,
      48px 96px transparent, 72px 96px transparent, 96px 96px transparent,
      120px 96px transparent, 144px 96px transparent, 168px 96px transparent,
      192px 96px transparent, 216px 96px transparent, 240px 96px transparent,
      264px 96px transparent, 288px 96px #535353, 312px 96px #535353,
      336px 96px #535353, 360px 96px #535353, 384px 96px #535353,
      408px 96px #535353, 432px 96px #535353, 456px 96px #535353,
      480px 96px #535353, 504px 96px #535353, 528px 96px #535353,
      552px 96px #535353, 0px 120px transparent, 24px 120px transparent,
      48px 120px transparent, 72px 120px transparent, 96px 120px transparent,
      120px 120px transparent, 144px 120px transparent, 168px 120px transparent,
      192px 120px transparent, 216px 120px transparent, 240px 120px transparent,
      264px 120px transparent, 288px 120px #535353, 312px 120px #535353,
      336px 120px #535353, 360px 120px #535353, 384px 120px #535353,
      408px 120px #535353, 432px 120px #535353, 456px 120px #535353,
      480px 120px #535353, 504px 120px #535353, 528px 120px #535353,
      552px 120px #535353, 0px 144px transparent, 24px 144px transparent,
      48px 144px transparent, 72px 144px transparent, 96px 144px transparent,
      120px 144px transparent, 144px 144px transparent, 168px 144px transparent,
      192px 144px transparent, 216px 144px transparent, 240px 144px transparent,
      264px 144px transparent, 288px 144px #535353, 312px 144px #535353,
      336px 144px #535353, 360px 144px #535353, 384px 144px #535353,
      408px 144px #535353, 432px 144px transparent, 456px 144px transparent,
      480px 144px transparent, 504px 144px transparent, 528px 144px transparent,
      552px 144px transparent, 0px 168px transparent, 24px 168px transparent,
      48px 168px transparent, 72px 168px transparent, 96px 168px transparent,
      120px 168px transparent, 144px 168px transparent, 168px 168px transparent,
      192px 168px transparent, 216px 168px transparent, 240px 168px transparent,
      264px 168px transparent, 288px 168px #535353, 312px 168px #535353,
      336px 168px #535353, 360px 168px #535353, 384px 168px #535353,
      408px 168px #535353, 432px 168px transparent, 456px 168px transparent,
      480px 168px transparent, 504px 168px transparent, 528px 168px transparent,
      552px 168px transparent, 0px 192px transparent, 24px 192px transparent,
      48px 192px transparent, 72px 192px transparent, 96px 192px transparent,
      120px 192px transparent, 144px 192px transparent, 168px 192px transparent,
      192px 192px transparent, 216px 192px transparent, 240px 192px transparent,
      264px 192px transparent, 288px 192px #535353, 312px 192px #535353,
      336px 192px #535353, 360px 192px #535353, 384px 192px #535353,
      408px 192px #535353, 432px 192px #535353, 456px 192px #535353,
      480px 192px #535353, 504px 192px #535353, 528px 192px transparent,
      552px 192px transparent, 0px 216px #535353, 24px 216px transparent,
      48px 216px transparent, 72px 216px transparent, 96px 216px transparent,
      120px 216px transparent, 144px 216px transparent, 168px 216px transparent,
      192px 216px transparent, 216px 216px transparent, 240px 216px #535353,
      264px 216px #535353, 288px 216px #535353, 312px 216px #535353,
      336px 216px #535353, 360px 216px #535353, 384px 216px #535353,
      408px 216px transparent, 432px 216px transparent, 456px 216px transparent,
      480px 216px transparent, 504px 216px transparent, 528px 216px transparent,
      552px 216px transparent, 0px 240px #535353, 24px 240px transparent,
      48px 240px transparent, 72px 240px transparent, 96px 240px transparent,
      120px 240px transparent, 144px 240px transparent, 168px 240px transparent,
      192px 240px #535353, 216px 240px #535353, 240px 240px #535353,
      264px 240px #535353, 288px 240px #535353, 312px 240px #535353,
      336px 240px #535353, 360px 240px #535353, 384px 240px #535353,
      408px 240px transparent, 432px 240px transparent, 456px 240px transparent,
      480px 240px transparent, 504px 240px transparent, 528px 240px transparent,
      552px 240px transparent, 0px 264px #535353, 24px 264px #535353,
      48px 264px transparent, 72px 264px transparent, 96px 264px transparent,
      120px 264px transparent, 144px 264px transparent, 168px 264px #535353,
      192px 264px #535353, 216px 264px #535353, 240px 264px #535353,
      264px 264px #535353, 288px 264px #535353, 312px 264px #535353,
      336px 264px #535353, 360px 264px #535353, 384px 264px #535353,
      408px 264px #535353, 432px 264px #535353, 456px 264px transparent,
      480px 264px transparent, 504px 264px transparent, 528px 264px transparent,
      552px 264px transparent, 0px 288px #535353, 24px 288px #535353,
      48px 288px #535353, 72px 288px transparent, 96px 288px transparent,
      120px 288px transparent, 144px 288px #535353, 168px 288px #535353,
      192px 288px #535353, 216px 288px #535353, 240px 288px #535353,
      264px 288px #535353, 288px 288px #535353, 312px 288px #535353,
      336px 288px #535353, 360px 288px #535353, 384px 288px #535353,
      408px 288px transparent, 432px 288px #535353, 456px 288px transparent,
      480px 288px transparent, 504px 288px transparent, 528px 288px transparent,
      552px 288px transparent, 0px 312px #535353, 24px 312px #535353,
      48px 312px #535353, 72px 312px #535353, 96px 312px #535353,
      120px 312px #535353, 144px 312px #535353, 168px 312px #535353,
      192px 312px #535353, 216px 312px #535353, 240px 312px #535353,
      264px 312px #535353, 288px 312px #535353, 312px 312px #535353,
      336px 312px #535353, 360px 312px #535353, 384px 312px #535353,
      408px 312px transparent, 432px 312px transparent, 456px 312px transparent,
      480px 312px transparent, 504px 312px transparent, 528px 312px transparent,
      552px 312px transparent, 0px 336px #535353, 24px 336px #535353,
      48px 336px #535353, 72px 336px #535353, 96px 336px #535353,
      120px 336px #535353, 144px 336px #535353, 168px 336px #535353,
      192px 336px #535353, 216px 336px #535353, 240px 336px #535353,
      264px 336px #535353, 288px 336px #535353, 312px 336px #535353,
      336px 336px #535353, 360px 336px #535353, 384px 336px #535353,
      408px 336px transparent, 432px 336px transparent, 456px 336px transparent,
      480px 336px transparent, 504px 336px transparent, 528px 336px transparent,
      552px 336px transparent, 0px 360px transparent, 24px 360px #535353,
      48px 360px #535353, 72px 360px #535353, 96px 360px #535353,
      120px 360px #535353, 144px 360px #535353, 168px 360px #535353,
      192px 360px #535353, 216px 360px #535353, 240px 360px #535353,
      264px 360px #535353, 288px 360px #535353, 312px 360px #535353,
      336px 360px #535353, 360px 360px #535353, 384px 360px #535353,
      408px 360px transparent, 432px 360px transparent, 456px 360px transparent,
      480px 360px transparent, 504px 360px transparent, 528px 360px transparent,
      552px 360px transparent, 0px 384px transparent, 24px 384px transparent,
      48px 384px #535353, 72px 384px #535353, 96px 384px #535353,
      120px 384px #535353, 144px 384px #535353, 168px 384px #535353,
      192px 384px #535353, 216px 384px #535353, 240px 384px #535353,
      264px 384px #535353, 288px 384px #535353, 312px 384px #535353,
      336px 384px #535353, 360px 384px #535353, 384px 384px transparent,
      408px 384px transparent, 432px 384px transparent, 456px 384px transparent,
      480px 384px transparent, 504px 384px transparent, 528px 384px transparent,
      552px 384px transparent, 0px 408px transparent, 24px 408px transparent,
      48px 408px transparent, 72px 408px #535353, 96px 408px #535353,
      120px 408px #535353, 144px 408px #535353, 168px 408px #535353,
      192px 408px #535353, 216px 408px #535353, 240px 408px #535353,
      264px 408px #535353, 288px 408px #535353, 312px 408px #535353,
      336px 408px #535353, 360px 408px transparent, 384px 408px transparent,
      408px 408px transparent, 432px 408px transparent, 456px 408px transparent,
      480px 408px transparent, 504px 408px transparent, 528px 408px transparent,
      552px 408px transparent, 0px 432px transparent, 24px 432px transparent,
      48px 432px transparent, 72px 432px transparent, 96px 432px #535353,
      120px 432px #535353, 144px 432px #535353, 168px 432px #535353,
      192px 432px #535353, 216px 432px #535353, 240px 432px #535353,
      264px 432px #535353, 288px 432px #535353, 312px 432px #535353,
      336px 432px transparent, 360px 432px transparent, 384px 432px transparent,
      408px 432px transparent, 432px 432px transparent, 456px 432px transparent,
      480px 432px transparent, 504px 432px transparent, 528px 432px transparent,
      552px 432px transparent, 0px 456px transparent, 24px 456px transparent,
      48px 456px transparent, 72px 456px transparent, 96px 456px transparent,
      120px 456px #535353, 144px 456px #535353, 168px 456px #535353,
      192px 456px #535353, 216px 456px #535353, 240px 456px #535353,
      264px 456px #535353, 288px 456px #535353, 312px 456px transparent,
      336px 456px transparent, 360px 456px transparent, 384px 456px transparent,
      408px 456px transparent, 432px 456px transparent, 456px 456px transparent,
      480px 456px transparent, 504px 456px transparent, 528px 456px transparent,
      552px 456px transparent, 0px 480px transparent, 24px 480px transparent,
      48px 480px transparent, 72px 480px transparent, 96px 480px transparent,
      120px 480px transparent, 144px 480px #535353, 168px 480px #535353,
      192px 480px #535353, 216px 480px transparent, 240px 480px transparent,
      264px 480px #535353, 288px 480px #535353, 312px 480px transparent,
      336px 480px transparent, 360px 480px transparent, 384px 480px transparent,
      408px 480px transparent, 432px 480px transparent, 456px 480px transparent,
      480px 480px transparent, 504px 480px transparent, 528px 480px transparent,
      552px 480px transparent, 0px 504px transparent, 24px 504px transparent,
      48px 504px transparent, 72px 504px transparent, 96px 504px transparent,
      120px 504px transparent, 144px 504px transparent, 168px 504px #535353,
      192px 504px #535353, 216px 504px #535353, 240px 504px transparent,
      264px 504px transparent, 288px 504px #535353, 312px 504px transparent,
      336px 504px transparent, 360px 504px transparent, 384px 504px transparent,
      408px 504px transparent, 432px 504px transparent, 456px 504px transparent,
      480px 504px transparent, 504px 504px transparent, 528px 504px transparent,
      552px 504px transparent, 0px 528px transparent, 24px 528px transparent,
      48px 528px transparent, 72px 528px transparent, 96px 528px transparent,
      120px 528px transparent, 144px 528px transparent, 168px 528px transparent,
      192px 528px transparent, 216px 528px transparent, 240px 528px transparent,
      264px 528px transparent, 288px 528px #535353, 312px 528px transparent,
      336px 528px transparent, 360px 528px transparent, 384px 528px transparent,
      408px 528px transparent, 432px 528px transparent, 456px 528px transparent,
      480px 528px transparent, 504px 528px transparent, 528px 528px transparent,
      552px 528px transparent, 0px 552px transparent, 24px 552px transparent,
      48px 552px transparent, 72px 552px transparent, 96px 552px transparent,
      120px 552px transparent, 144px 552px transparent, 168px 552px transparent,
      192px 552px transparent, 216px 552px transparent, 240px 552px transparent,
      264px 552px transparent, 288px 552px #535353, 312px 552px #535353,
      336px 552px transparent, 360px 552px transparent, 384px 552px transparent,
      408px 552px transparent, 432px 552px transparent, 456px 552px transparent,
      480px 552px transparent, 504px 552px transparent, 528px 552px transparent,
      552px 552px transparent;
  }
}



/* From Uiverse.io by carlosepcc */ 
/* Butterfly loader created by WerlynDev in Uiverse.io*/

.loader_butterfly {
  --sizeLoader: 30px;
  --sizeLoaderHalf: calc(var(--sizeLoader) / 2);
  --stepBtf: calc(var(--sizeLoader) / 10);
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: var(--sizeLoader);
  height: var(--sizeLoader);
  /*background: radial-gradient(#f1f8,transparent 30%);*/
  margin-right: 7px;
}

.loader_butterfly:hover {
  cursor: progress;
}

.loader_butterfly[anim1] {
  animation: anim1 0.3s alternate ease-in-out infinite;
}

.loader_butterfly:not([anim1]) {
  right: var(--sizeLoaderHalf);
  transform-origin: center right;
  animation: moveAround 2s linear infinite;
}

.loader_butterfly[showShadow] {
  filter: drop-shadow(0 10px 10px #060606de);
}

.loader_butterfly svg:nth-child(1) {
  position: relative;
  height: 100%;
  left: 2%;
  transform-origin: center right;
  animation: wing 0.2s ease-in-out infinite;
}

.loader_butterfly svg:nth-child(2) {
  height: 50%;
}

.loader_butterfly svg:nth-child(3) {
  position: relative;
  height: 100%;
  left: -2%;
  transform-origin: center left;
  animation: wing 0.25s ease-in-out infinite;
}

@keyframes wing {
  0% {
    transform: rotateY(0deg);
  }

  50% {
    transform: rotateY(60deg);
  }

  100% {
    transform: rotateY(0deg);
  }
}

@keyframes moveAround {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes anim1 {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(var(--stepBtf));
  }
}

 /*@media (prefers-color-scheme: dark) {
  .loader[showShadow]{
    filter: drop-shadow(0 10px 10px #white);
  }
}*/



.footer {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1300px) {

  @keyframes dinoMove {
    from {
      transform: translateX(0);
      
    }
    to {
      transform: translateX(285vw);
     
    }
  }
}

@media (max-width: 801px) {

  @keyframes dinoMove {
    from {
      transform: translateX(0);
      
    }
    to {
      transform: translateX(260vw);
     
    }
  }
}

@media (max-width: 601px) {

  @keyframes dinoMove {
    from {
      transform: translateX(0);
      
    }
    to {
      transform: translateX(220vw);
     
    }
  }
}



@media (max-width: 500px) {
  .navbar {
    width: 60vw;
  }

  .navbar a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px; /* fixed width */
  }

  .fundal {

    height:200px;
  }

  .icon_container {

    margin-top: 90px;
  }

  .background {
    height: 170px;
  }

  .container a {
    font-size: 0.5rem; /* nu face nimic */
  }

  .dinosaur {

    display: none;
  }
}

#pulsing-grid {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: white; /* dark background for contrast */
  overflow: hidden;
  opacity: 100;
}
